Trying to generate the same key between two APIs

Well, my question is simple, I already do it on Stackoverflow:

https://stackoverflow.com/questions/50263796/generate-the-same-jose-token-between-client-and-server-php-c

Can someone guide me? Thanks.

Hey @z3nth10n ,

i copied your code from SO for context;

```c#
public static string CypherData<T>(T payload)
{
    return JWT.Encode(payload, pubkey, JweAlgorithm.RSA_OAEP, JweEncryption.A256GCM, JweCompression.DEF);
}

Console.WriteLine(Api.CypherData("hola"));
```

Unfortunately i don't have experience with PHP library you are using (and with PHP in general), but i'll try to answer what i can:

1. Encrypted tokens do not match most likely due to compression. Deflate compression can be of different levels and quality is very dependent on implementations, so output pretty much always will be different.

2. I'd suggest to exclude compression from your tests for beginning. 

3. There is no C# code which shows how you load the key. Make sure you using matching public - private key pair on both sides. 

4. You can try to test reverse - create token on PHP side, decode on C#. 

If you share keys (non production please), i can also take a look. We can try java or golang libs for instance. 

Thanks for you quickly response!

Well, the part where I load the public part is [an util from Stackoverflow](https://stackoverflow.com/a/32243171/3286975)...

This is how I read the PEM string:

    private static RSACryptoServiceProvider GetPubKey()
    {
         ConnPreCheck();

         JObject obj = JsonConvert.DeserializeObject<JObject>(getPubKey.HttpGet());

         pubkeyStr = obj["data"]["pubKey"].ToString();

         return PemKeyUtils.GetRSAProviderFromPemString(pubkeyStr);
    }

I will post it in SO.

Now, what you suggested to me is interesting.

I'm trying to know how to disable compression in the PHP part. But I'm having some questions for the author.

Although it doesn't match, the problem is in the PHP because it's not capable of decrypt a token generated from C# (I will try the reverse).

This are my keys:

[private.txt](https://github.com/dvsekhvalnov/jose-jwt/files/1991719/private.txt)
[public.txt](https://github.com/dvsekhvalnov/jose-jwt/files/1991720/public.txt)

I don't know so much about Go, but we can try in Java. 😄 

Thanks again. 😄 

1. Well, the code you've posted from SO is too complicated, why don't you convert your keys to .p12 format to exclude possible errors with loading keys?

2. If you generate token without compression on C# side, PHP lib probably should handle it automatically?


I remembered one important issue, and is that PHP exports keys in X.509 style:

http://php.net/manual/fr/function.openssl-pkey-get-public.php#101513

As I said here: https://github.com/Spomky-Labs/jose/issues/326#issuecomment-388071090

So, if I try to use the key generated from PHP the following exceptions occurs:

> ArgumentException: Additional information: RsaKeyManagement algorithm expects key to be of either CngKey, RSACryptoServiceProvider or RSA types.

From: https://github.com/dvsekhvalnov/jose-jwt/blob/6aa39885061a1b7ab471e0b136534277c1009694/jose-jwt/jwa/RsaKeyManagement.cs

And if I try to convert a key from PHP directly with this:

    var priv = PemKeyUtils.GetRSAProviderFromPemString(Resources._private);

    Console.Write("Token: ");
   token = Console.ReadLine();

   Console.WriteLine("Result: {0}", Jose.JWT.Decode(token, priv));

The following exceptions occurs: https://github.com/dvsekhvalnov/jose-jwt/blob/23f112d4ccd829859a10363f300308a3ba965b00/jose-jwt/util/Base64Url.cs#L26

So, I will try to fix it.

Answering your questions:

1. I could try, but now I remembered that's the problem is in the key, but not at importing, do you want me to do this? (Although we already know what's happening.)
2. Theorically yes, but for now, we can't know because of the problem I said.

I will try to explain clearly the actual situation.

Is a valid key but only in PHP lib, because it can understand one of the two available styles.

But C# can't read it because doesn't understand X.509 style that PHP lib output.

So, I'm trying to implement this conversion into the PHP lib.

Still not following, did you generate keys yourself?

Oh, I forget to update my keys... Sorry, tell me what can you read from those:

[private.txt](https://github.com/dvsekhvalnov/jose-jwt/files/1992176/private.txt)
[private-seclib.txt](https://github.com/dvsekhvalnov/jose-jwt/files/1992177/private-seclib.txt)
[public.txt](https://github.com/dvsekhvalnov/jose-jwt/files/1992178/public.txt)
[public-seclib.txt](https://github.com/dvsekhvalnov/jose-jwt/files/1992179/public-seclib.txt)

And no, I generated them using PHP not openssl.

Try those and tell me which of them can you read. Sorry 😞 

What a problem to generate those with openssl?

The problem is that Spomky-Labs/jose (PHP API) can't read normal openssl keys, so I stuck on the server side. 😞 

From examples in Spomky-Labs i don't see anything unusual. Standard keys.
Try this:

1. openssl req -x509 -newkey rsa:2048 -keyout private.pem -out cert.pem -days 365 -nodes -subj '/CN=my-signing-key'

2. openssl rsa -in private.pem -pubout > public.pem

3. openssl pkcs12 -export -out signing-key.p12 -inkey private.pem -in cert.pem

It will generate private.pem/public.pem that you can use with PHP. And signing-key.p12 that you can use with C#.

Hi,

I tried to figure out why the token cannot be decrypted and it looks like it comes from a bad RSA-OAEP implementation.
At the moment I cannot say if the token is not correctly encrypted (C# side) or decrypted (PHP side).

Can you try to decrypt the token from the [RFC7520 section 5.2](https://tools.ietf.org/html/rfc7520#section-5.2) that uses the same algorithms? (sorry I do not know C# at all).

You will find also find the token and the key [at the end of that comment](https://github.com/Spomky-Labs/jose/issues/326#issuecomment-388189777)

I have to say two things, one, I have a problem pasting from keyboard keys that where [longer from 254 chars](https://stackoverflow.com/a/5557919/3286975).

But anyway I cannot use none of the private keys provided from openssl and @Spomky. But the problem isn't in this API, is on this: https://stackoverflow.com/a/32243171/3286975

I will look deeper into this method, by the moment this is the exception: http://unlocalize.com/es/1794_Invalid-length-for-a-Base-64-char-array.html

And the main reason is this:

![...](blob:https://imgur.com/4850786d-6dcf-48ce-ba16-bc818f51f9f8)

I could imagine this is a style/format issue.


Hey guys, there are too much info in the thread i guess. Let's take it straight, here is c# code to encrypt/decrypt token:

```c#
            var x509 = new X509Certificate2(@"signing-key.p12", "1");

            var privateKey = x509.GetRSAPrivateKey();
            var publicKey = x509.GetRSAPublicKey();

            string token = JWT.Encode("Hello RSA-OAEP", publicKey, JweAlgorithm.RSA_OAEP, JweEncryption.A256GCM);

            console.WriteLine("token = {0}", token);

            string decoded = JWT.Decode(token, privateKey);

            console.WriteLine("decoded payload = {0}", decoded);
```

Here is produced token:
```
eyJhbGciOiJSU0EtT0FFUCIsImVuYyI6IkEyNTZHQ00ifQ.GhYb6mJA8w2hTQ_ks4R_ygVJsD2j4fzS8uTVtp9UolL-NQZ1Jw6MYilsFiZ0k9OAUyHLjorDl7m0StojZZfJSyNjKgumLcWrGAhujiq9MDYFepjIv2CCtNgdIxTq2zyPUeKAXGCtooKd4XXnjf_zodR3JlATgvZjDg9pbF0Zda6thv6Mf7Zd5PdC4Ff9wSkd53zfioXACjUSSrkGjM5cU1YtQorlR-0ONpN837G4gZzjuYEZZFB_jeXUX--FRQHLZw5bGWx84ADM_hrgyYLz3f4S62Ws8VNpDndv3D1yGspem6H0Pa0Q9UQAycs844_TsfoML3MUIObQxnq3afTxBg.X5eSxt3Re5aWkHHL.GheNPfa_xKHK0fZOQK4.LXA6LEn-VnBy9VQ9eTz8vQ
```
Attached `signing-key.p12` file used in example (zipped because of GitHub).
[signing-key.p12.zip](https://github.com/dvsekhvalnov/jose-jwt/files/1995315/signing-key.p12.zip)

Not to be biased i tested decryption with https://bitbucket.org/b_c/jose4j/wiki/Home and https://connect2id.com/products/nimbus-jose-jwt. Looks good. 

@Spomky if you'd like to try to decrypt it with PHP let me know how it goes.


@z3nth10n i guess there is no issues between libraries. @Spomky kindly verified example above and it works as expected.

So i'd suggest stop reading keys on C# side with `PemKeyUtils` you are using and stick to standard .p12 files and use openssl if you need to extract keys to use with PHP library.

You want to send public key, did i get it right?

Because, I need that the server generates both keys and send public key to the client, to allow it to encrypt things to its later decryption in the server-side.

If you need to distribute keys runtime vs. deployment time, you best bet will be to use JWK.  

Hi @z3nth10n , 

the issue is good to close? I guess you got discussion going about key management and distribution under PHP lib?

Yes, now, I know how to generate a key in both sides and transfer them. Thanks!

closing, as it seems all question have been resolved. Feel free to re-open as needed.